body
            {
               
                     background-color:rgb(126, 163, 168);
                     
                     
                     
                     
            }  
            h2{
               margin-top :-45%;
               font-size: 300%;
               margin-left: 55%;
               height: -8%;
               padding: 24px;
               color: white;
               width:20%;
            }
            
           
            
            
            table,th,td
            {
               padding: 15px;
               border: solid black;
               
               
            }
            table
            {
               
               border-spacing: 1px;
               text-align-last:center ;
               background-color:beige;
            }
            td{
               text-align: left;
            }
            .leftdiv
               {
               float:left;

               }
               
               .middlediv
               {
               float:left;
               }

               .rightdiv
               {
               float:left;
               }
               #v
               {
                  width: 100px;
                  margin-top:50px;
               } 
               div
               {
                 padding:1px;
                 color:solid black;
                 background-color:#d3d8da;
                 width:17%;
                 border:solid black;
                 height:50%;
                 padding-left: 25px;
                 padding-top: 10px;
                 padding-bottom: 50px;
                 padding-right: 25px;
                 border-radius: 20px;
                 border-style: dotted;
                 margin-right:0%;
                 margin-left:3%;
                 margin-top: 5%;
                 

               }
               h3
               {
                  margin-top:40%;

               }
               