

 
 body{
    background-color: black;
    
 }

    .background{
    background:url("https://i.makeagif.com/media/11-23-2015/9tZfEK.gif");
    width:100%;
    height:590px;
    background-size: cover;
    background-repeat: no-repeat;
  
 }
 
div
    {
      padding:1px;
      color:solid black;
     
      width:25%;
      
      height:10%;
      
    }    
    
          #v
          {
            margin-right: 500px;
            margin-left:30%;
            margin-bottom:40% ;
            color: white;
            font-size: 100px;
            
          }  
    
    
     
   
    
    

  
    
    
